@{
    ViewData["Title"] = "User Page";
}

@model System.Collections.Generic.List<WebApplication2.Domain.User>

<div>
    <h1>User</h1>
    <table>
        <tr>
            <th class="p-3">FirstName</th>
            <th class="p-3">LastName</th>
            <th class="p-3">Number</th>
            <th class="p-3">Email</th>
            <th class="p-3">Role</th>
            <th class="p-3">Username</th>
          </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td class ="p-3">@item.FirstName</td>
                <td class="p-3">@item.LastName</td>
                <td class="p-3">@item.Number</td>
                <td class="p-3">@item.Email</td>
                <td class="p-3">@item.Role</td>
                <td class="p-3">@item.Username</td>
                    <td class="p-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   </td>
            </tr>
     }
    </table>

 </div>


